.botao{
    /* padding: 5px 100px; */
    width: 200px;
    height: 25px;
    border: none;
    background-color: #73061B;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    font-weight: bolder;
}